.header1{

    height: 400px;
    background-image: url(../images/bg-art-home4.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.header2{

    height: 400px;
    background-image: url(../images/012-min.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
